ModelFirstUplatnica/Service References/ServiceReference1/Otpremnica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57716/Otpremnica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" />
  <xs:element name="insertOtpremnicu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="u" nillable="true" type="q1:Otpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOtpremnicuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="insertOtpremnicuResult" nillable="true" type="q2:Otpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obrisiOtpremnicu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obrisiOtpremnicuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obrisiOtpremnicuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOtpremnice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="o" nillable="true" type="q3:Otpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOtpremniceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateOtpremniceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpremnicaList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpremnicaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="OtpremnicaListResult" nillable="true" type="q4:ArrayOfOtpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="otpremnicaImaRobu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="o" nillable="true" type="q5:Otpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="otpremnicaImaRobuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="otpremnicaImaRobuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="postojiNazivOtpremniceUBazi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BrojOtpremnice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="postojiNazivOtpremniceUBaziResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postojiNazivOtpremniceUBaziResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikPartnerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikPartnerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="SifarnikPartnerListResult" nillable="true" type="q6:ArrayOfSifarnikPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikRobeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikRobeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="SifarnikRobeListResult" nillable="true" type="q7:ArrayOfSifarnikRobe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikRobeListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikRobeListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="SifarnikRobeListByIdResult" nillable="true" type="q8:SifarnikRobe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertListuRobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="lrobe" nillable="true" type="q9:ListaRobe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertListuRobeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikPartnerListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifarnikPartnerListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="SifarnikPartnerListByIdResult" nillable="true" type="q10:SifarnikPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="brojRobeNaUplatnici">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="brojRobeNaUplatniciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brojRobeNaUplatniciResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UkupnaCenaRobePoUplatnici">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UkupnaCenaRobePoUplatniciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UkupnaCenaRobePoUplatniciResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obrisiListuRobeNaOsnovuOtpremniceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="otpremnicaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obrisiListuRobeNaOsnovuOtpremniceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obrisiListuRobeNaOsnovuOtpremniceIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaRobePordukata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaRobePordukataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="listaRobePordukataResult" nillable="true" type="q11:ArrayOfListaRobe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaRobeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaRobeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="listaRobeByIdResult" nillable="true" type="q12:ListaRobe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpremnicaListBasedOnPartnersId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpremnicaListBasedOnPartnersIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="OtpremnicaListBasedOnPartnersIdResult" nillable="true" type="q13:ArrayOfOtpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpremnicaListBasedOnDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partnerObjDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpremnicaListBasedOnDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" minOccurs="0" name="OtpremnicaListBasedOnDateTimeResult" nillable="true" type="q14:ArrayOfOtpremnica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>