MVVM_WPF/Service References/ServiceReference1/Otpremnica2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UplatnicaWCFtoDb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Otpremnica">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrojOtpremnice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SifarnikPartnerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Otpremnica" nillable="true" type="tns:Otpremnica" />
  <xs:complexType name="ArrayOfOtpremnica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Otpremnica" nillable="true" type="tns:Otpremnica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtpremnica" nillable="true" type="tns:ArrayOfOtpremnica" />
  <xs:complexType name="ArrayOfSifarnikPartner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SifarnikPartner" nillable="true" type="tns:SifarnikPartner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSifarnikPartner" nillable="true" type="tns:ArrayOfSifarnikPartner" />
  <xs:complexType name="SifarnikPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NazivPartnera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SifraPartnera" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SifarnikPartner" nillable="true" type="tns:SifarnikPartner" />
  <xs:complexType name="ArrayOfSifarnikRobe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SifarnikRobe" nillable="true" type="tns:SifarnikRobe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSifarnikRobe" nillable="true" type="tns:ArrayOfSifarnikRobe" />
  <xs:complexType name="SifarnikRobe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JedinicaMere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JedinicnaCena" type="xs:double" />
      <xs:element minOccurs="0" name="NazivRobe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SifraRobe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SifarnikRobe" nillable="true" type="tns:SifarnikRobe" />
  <xs:complexType name="ListaRobe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="KolicinaRobe" type="xs:double" />
      <xs:element minOccurs="0" name="NovaCenaRobe" type="xs:double" />
      <xs:element minOccurs="0" name="OtpremnicaId" type="xs:int" />
      <xs:element minOccurs="0" name="SifarnikRobeId" type="xs:int" />
      <xs:element minOccurs="0" name="UkupnaCenaRobe" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaRobe" nillable="true" type="tns:ListaRobe" />
  <xs:complexType name="ArrayOfListaRobe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaRobe" nillable="true" type="tns:ListaRobe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaRobe" nillable="true" type="tns:ArrayOfListaRobe" />
</xs:schema>